<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block styles %}
<style type="text/css">

    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
    }

</style>
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- <h2>Login</h2> -->
<form method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Get Started</button>
</form>

{% endblock %}