<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block styles %}
<style type="text/css">
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
</style>
{% endblock %}

{% block title %}Sign Up{% endblock %}

{% block content %}


<!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form> -->
<form method="post" class="form">
  {% csrf_token %}
  {% if form.errors %}
  {% endif %}
  <p style="font-size: 36px">Register</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
    </div>
    <input type="text" name="username" maxlength="150" autofocus required id="id_username">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
    </div>
    <input type="password" name="password1" required id="id_password1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
    </div>
    <input type="password" name="password2" required id="id_password2">
  </div>
  <span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></span>


  <button class="btn btn-primary" type="submit">Sign up</button>
  
  
</form>
{% endblock %}